<%
  var btnPrimary = btnDanger = btnDefault = formCtrl = firstCol = otherCols = '';
  if( bootstrap ) {
    btnPrimary = ' class="btn btn-primary"';
    btnDanger = ' class="btn btn-danger"';
    formCtrl = ' class="form-control"';
  }
%>
<div<% if( bootstrap ) { %> class="row-fluid"<% } %>>
<div>
  <h3>Profile</h3>

  <form role="form">
    <p class="form-group">
      <label>Account ID</label>
      <br />{{user.uid}}
    </p>

  <p>
    <button role="button" ng-click="logout()"<%= btnDanger %>>Log Out</button>
  </p>
</div>
<% if( hasPasswordProvider ) { %>
<div>
<form role="form">
  <h3>Change Password</h3>

  <p class="form-group">
    <label>Old Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="oldpass"<%= formCtrl %> />
  </p>

  <p class="form-group">
    <label>New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="newpass"<%= formCtrl %> />
  </p>

  <p class="form-group">
    <label>Confirm New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="confirm"<%= formCtrl %> />
  </p>

  <button<%= btnPrimary %> ng-click="changePassword(oldpass, newpass, confirm)"> Change password</button>

  <p class="error bg-danger" ng-show="err">{{err}}</p>
  <p class="good" ng-show="msg">{{msg}}</p>
</form>
</div>

<div>
<form>
  <h3>Change Email</h3>

  <p class="form-group">
    <label>New Email:</label>
    <input type="text" ng-keypress="clear()" ng-model="newEmail"<%= formCtrl %> />
  </p>

  <button<%= btnPrimary %> ng-click="changeEmail(newEmail)"> Update email</button>
</form>
</div>
<% } %>
</div>

<% if( bootstrap ) { %><p class="clearfix"></p><% } %>
<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>
